body {
  background: #2A2753;
}
[box] {
  width: 200px;
  height: 110px;
  background: #C3C441;
  position: absolute;
  margin: auto;
  inset: -200px 200px 0 0;
  box-shadow: 200px 200px 0 #E25C57;
}
[tri-top] {
  width: 0px;
  height: 0px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 90px solid #C3C441;
  position: absolute;
  margin: auto;
  inset: 0px 200px 0 0;
}
[tri-bot] {
  width: 0px;
  height: 0px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 90px solid #E25C57;
  position: absolute;
  margin: auto;
  inset: 0px -200px 0 0;
}