  body {
    background: #f48b26;
    margin: 0px
  }
  .Tup1 {
    width: 30px;
    height: 120px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: 60px; right: 110px; left: 0px; bottom: 0px; 
    border-radius: 15px;
  }
  .Tup2 {
    width: 30px;
    height: 90px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: -30px; right: 110px; left: 0px; bottom: 0px; 
    border-radius: 15px;
    transform: rotate(90deg);
  }
  .Tright1 {
    width: 30px;
    height: 120px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: -110px; right: 60px; left: 0px; bottom: 0px; 
    border-radius: 15px;
    transform: rotate(90deg);
  }
  .Tright2 {
    width: 30px;
    height: 90px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: -110px; right: -30px; left: 0px; bottom: 0px; 
    border-radius: 15px;
  }
  .Tdown1 {
    width: 30px;
    height: 120px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: -60px; right: -110px; left: 0px; bottom: 0px; 
    border-radius: 15px;
  }
  .Tdown2 {
    width: 30px;
    height: 90px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: 30px; right: -110px; left: 0px; bottom: 0px; 
    border-radius: 15px;
    transform: rotate(90deg);
  }
  .Tleft1 {
    width: 30px;
    height: 120px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: 110px; right: -60px; left: 0px; bottom: 0px; 
    border-radius: 15px;
    transform: rotate(90deg);
  }
  .Tleft2 {
    width: 30px;
    height: 90px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    top: 110px; right: 30px; left: 0px; bottom: 0px; 
    border-radius: 15px;
  }
  


