body {
    background: #3c1b4a;
    margin: 0px;
  }
  .offset {
    width: 10px;
    height: 30px;
    background: #FCDDEB;
    position: absolute;
    margin: auto;
    top: 0px; right: 270px; left: 0px; bottom: 130px;
  }
  .off {
    width: 70px;
    height: 50px;
    background: #9364C8;
    position: absolute;
    margin: auto;
    top: 0px; left: 0px; bottom: 130px; right: 190px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .rect1 {
    width: 200px;
    height: 20px;
    background: #FCDDEB;
    position: absolute;
    margin: auto;
    top: 0px; left: 80px; bottom: 130px; right: 0px;
    border-top-right-radius: 20px;
  }
  .rect2 {
    width: 80px;
    height: 20px;
    background: #FCDDEB;
    position: absolute;
    margin: auto;
    top: 0px; left: 260px; bottom: 40px; right: 0px;
    border-top-right-radius: 20px;
    transform: rotate(90deg);
  }
  .rect3 {
    width: 140px;
    height: 20px;
    background: #FCDDEB;
    position: absolute;
    margin: auto;
    top: 30px; left:140px; bottom: 0px; right: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .rect4 {
    width: 150px;
    height: 20px;
    background: #FCDDEB;
    position: absolute;
    margin: auto;
    top: 160px; left:0px; bottom: 0px; right: 0px;
    border-bottom-left-radius: 20px;
    transform: rotate(90deg);
    
  }
