  [ver] {
    width: 253px;
    height: 30px;
    background: #4B4D88;
    position: absolute;
    margin: auto;
    inset: 190px 0 0 0;
    border-radius: 50px;
  }
  [mid] {
    width: 32px;
    height: 60px;
    background: #4B4D88;
    position: absolute;
    margin: auto;
    inset: 0px 0 0 0;
    border-radius: 50px;
  }
  [left] {
    width: 30px;
    height: 60px;
    background: #4B4D88;
    position: absolute;
    margin: auto;
    inset: 65px 136px 0 0;
    border-radius: 50px;
    transform: rotate(-45deg);
    box-shadow:72px -70px 0 #4B4D88;
  }
  [right] {
    width: 30px;
    height: 60px;
    background: #4B4D88;
    position: absolute;
    margin: auto;
    inset: 65px -136px 0 0;
    border-radius: 50px;
    transform: rotate(45deg);
    box-shadow: -72px -70px 0 #4B4D88;
  }
  body {
    background: #FFFFFF
  }