
body {
  background: #61A74E;
}
[c1] {
  width: 140px;
  height: 100px;
  background: #FADE8B;
  position: absolute;
  margin: auto;
  inset: -40px 0 0 0;
  border-radius: 50px;
}
[c2] {
  width: 70px;
  height: 60px;
  background: #FADE8B;
  position: absolute;
  margin: auto;
  inset: 70px 60px 0 0;
  border-radius: 50px 200px 50px 200px;
  transform: rotate(10deg);
}
[c3] {
  width: 70px;
  height: 60px;
  background: #FADE8B;
  position: absolute;
  margin: auto;
  inset: 70px -60px 0 0;
  border-radius: 200px 50px 200px 50px;
  transform: rotate(-10deg);
}