body {
  background: #F3EAD2;
}
[rect1] {
  width: 2.2rem;
  height: 108px;
  background: #D96C7B;
  position: absolute;
  margin: auto;
  inset: -168px 0 0 0;
  box-shadow: 72px 180px 0 #D96C7B,
              0px 180px 0 #D96C7B,
              -72px 180px 0 #D96C7B;
}
[rect2] {
  width: 2.3rem;
  height: 144px;
  background: #D96C7B;
  position: absolute;
  margin: auto;
  inset: 12px 72px 0 0;
  box-shadow: 72px 0 0 #D96C7B;
}