[vertical] {
  width: 80px;
  height: 300px;
  background: #6592CF;
  position: absolute;
  margin: auto;
  inset: 0;
  box-shadow: -100px 0 0 100px #EEB850,
                100px 0 0 100px #243D83 ;
}
[horizontal] {
  width: 240px;
  height: 50px;
  background: #6592CF;
  position: absolute;
  margin: auto;
  top: -250px; left: 0; bottom: 0; right: 0;
  box-shadow: 0 250px 0 0 #6592CF;
}