body {
  background: #436F9B;
}
[mid] {
  width: 30px;
  height: 80px;
  background: #E38F66;
  position: absolute;
  margin: auto;
  inset: 0;
}
[top] {
  width: 100px;
  height: 30px;
  background: #E38F66;
  position: absolute;
  margin: auto;
  inset: -150px -70px 0 0;
}
[bot] {
  width: 100px;
  height: 30px;
  background: #E38F66;
  position: absolute;
  margin: auto;
  inset: 150px 70px 0 0;
}
[sqs] {
  width: 30px;
  aspect-ratio: 1;
  background: #E38F66;
  position: absolute;
  margin: auto;
  inset: 50px 140px 0 0;
  box-shadow: 140px -50px 0 #E38F66;
}