  body {
    background: #5F133F;
  }
  div.front {
    width: 120px;
    height: 120px;
    background: #B04183;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .front-side1 {
    width: 20px;
    height: 160px;
    background: #F7BED9;
    position: absolute;
    margin: auto;
    top: 0; left: -120; bottom: 0; right: 0;
    border-radius: 50px;
  }
  .front-side2 {
    width: 20px;
    height: 160px;
    background: #F7BED9;
    position: absolute;
    margin: auto;
    top: 0; left: 120; bottom: 0; right: 0;
    border-radius: 50px;
  }
  .left {
    width: 80px;
    height: 80px;
    background: #B04183;
    position: absolute;
    margin: auto;
    top: 0; left: -160; bottom: 0; right: 0;
  }
  .right {
    width: 80px;
    height: 80px;
    background: #B04183;
    position: absolute;
    margin: auto;
    top: 0; left: 160; bottom: 0; right: 0;
  }
  .left-side {
    width: 10px;
    height: 100px;
    background: #F7BED9;
    position: absolute;
    margin: auto;
    top: 0; left: -250; bottom: 0; right: 0;
    border-radius: 50px;
  }
  .right-side {
    width: 10px;
    height: 100px;
    background: #F7BED9;
    position: absolute;
    margin: auto;
    top: 0; left: 250; bottom: 0; right: 0;
    border-radius: 50px;
  }
