.circles {
  width: 60px;
  height: 60px;
  background: #F5D18C;
  position: absolute;
  margin: auto;
  top: 100; left: -180px; bottom: 0; right: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #328FC1,
              180px 0 0 #F5D18C,
              180px 0 0 10px #328FC1,
              90px 0 0 20px #F5D18C;
}
.container {
  width: 260px;
  height: 130px;
  position: absolute;
  margin: auto;
  top: -30px; left: 0; bottom: 0; right: 0;
  background: #328FC1;
  border-radius: 9990px 9990px 50px 50px;
  box-shadow: 0 0 0 200px #F5D18C
}