  body {
    background: #BE3184;
  }
  .rect {
    width: 40px;
    height: 300px;
    background: #611B3F;
    position: absolute;
    margin: auto;
    top: 0; left: 158; bottom: 0; right: 0;
  }
  .rect2 {
    width: 40px;
    height: 120px;
    background: #611B3F;
    position: absolute;
    margin: auto;
    top: -180; left: 0; bottom: 0; right: 0;
  }
  .rect3 {
    width: 40px;
    height: 120px;
    background: #611B3F;
    position: absolute;
    margin: auto;
    top: 180; left: 0; bottom: 0; right: 0;
  }
  .rect4 {
    width: 40px;
    height: 80px;
    background: #611B3F;
    position: absolute;
    margin: auto;
    top: -220; left: -160; bottom: 0; right: 0;
  }
  .rect5 {
    width: 40px;
    height: 80px;
    background: #611B3F;
    position: absolute;
    margin: auto;
    top: 220; left: -160; bottom: 0; right: 0;
  }
