body {
  background: #712B2B;
}
.mid {
  width: 80px;
  height: 0px;
  border-bottom: 90px solid #D04A4C;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  position: absolute;
  margin: auto;
  top: 0px; left: 0px; right: 0px; bottom: 0px; 
}
.top {
  width: 0px;
  height: 0px;
  border-bottom: 65px solid #F79091;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  margin: auto;
  top: -65px; left: 0px; right: 0px; bottom: 0px; 
}
.bottom {
  width: 0px;
  height: 0px;
  border-bottom: 65px solid #F79091;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  margin: auto;
  top: 185px; left: 0px; right: 0px; bottom: 0px; 
  transform: rotate(180deg);
}
