  body {
    background: #FCEBEB;
  }
  .left {
    width: 148px;
    height: 226px;
    background: #E95D29;
    position: absolute;
    margin: auto;
    top: -20; left: -60; bottom: 0; right: 0;
    border-radius: 99px 99px 0 0;
    transform: rotate(-45deg);
  }
  .right {
    width: 148px;
    height: 226px;
    background: #E95D29;
    position: absolute;
    margin: auto;
    top: -20; left: 60; bottom: 0; right: 0;
    border-radius: 99px 99px 0 0;
    transform: rotate(45deg);
    
  }
