[tl] {
  width: 110px;
  height: 110px;
  background: #F5BB60;
  position: absolute;
  margin: auto;
  inset: -110px 110px 0 0;
  border-radius: 0 0 0 110px;
}
[tr] {
  width: 110px;
  height: 110px;
  background: #F56760;
  position: absolute;
  margin: auto;
  inset: -110px -110px 0 0;
  border-radius: 110px 0 0 0px;
}
[bl] {
  width: 110px;
  height: 110px;
  background: #F56760;
  position: absolute;
  margin: auto;
  inset: 110px 110px 0 0;
  border-radius: 0 0 110px 0px;
}
[br] {
  width: 110px;
  height: 110px;
  background: #F5BB60;
  position: absolute;
  margin: auto;
  inset: 110px -110px 0 0;
  border-radius: 0px 110px 0 0px;
}
body {
  background: #2F5A76;
}