  body {
    background: #223E1F;
  }
  .tri {
    width: 25;
    height: 0;
    border-left: 350px solid transparent;
    border-right: 350px solid transparent;
    border-bottom: 200px solid #BFE33A;
    position: absolute;
    margin: auto;
    top: 110; bottom: 0; left: -160; right: 0;
  }
  .l-tri {
    width: 0;
    height: 0;
    border-left: 170px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 95px solid #223E1F;
    position: absolute;
    margin: auto;
    top: 250; bottom: 0; left: -260; right: 0;
  }
  .r-tri {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 95px solid #223E1F;
    position: absolute;
    margin: auto;
    top: 250; bottom: 0; left: 245; right: 0;
  }