[rect] {
  width: 160px;
  height: 40px;
  background: #DE9473;
  position: absolute;
  margin: auto;
  inset: -180px 0 0 0;
  box-shadow: 0 180px 0 #DE9473;
}
[up] {
  width: 160px;
  height: 80px;
  background: #DE9473;
  position: absolute;
  margin: auto;
  inset: 0;
  border-radius: 150px 150px 0 0;
}
[down] {
  width: 160px;
  height: 80px;
  background: #DE9473;
  position: absolute;
  margin: auto;
  inset: 0;
  border-radius: 0 0 150px 150px;
}
body {
  background: #2B2A4A
}