[big-rect] {
  width: 120px;
  height: 240px;
  background: #183539;
  position: absolute;
  margin: auto;
  inset: 0 220px 0 0;
  box-shadow: 220px 0 0 #183539,
              0 0 0 250px #00B0C8;;
}
[small-rect] {
  width: 60px;
  height: 120px;
  background: #183539;
  position: absolute;
  margin: auto;
  inset: 0 80px 0 0;
  box-shadow: 80px 0 0 #183539;
}