[lift] {
  width: 100px;
  height: 20px;
  background: #EEB850;
  position: absolute;
  inset: 0;
  margin: auto;
  box-shadow: -124px -22px 0 #EEB850,
              -124px 22px 0 #EEB850,
              124px -22px 0 #EEB850,
              124px 22px 0 #EEB850,
              0 0 0 150px #328FC1;;
}