[rect1] {
  width: 340px;
  height: 240px;
  background: #EED9D9;
  position: absolute;
  margin: auto;
  inset: 0;
  box-shadow: 0 0 0 30px #668884;    
}
[rect2] {
  width: 86px;
  height: 40px;
  background: #668884;
  position: absolute;
  margin: auto;
  inset: -200px 212px 0 0;
  box-shadow: 212px 200px 0 #668884;    
}
[rect3] {
  width: 162px;
  height: 40px;
  background: #668884;
  position: absolute;
  margin: auto;
  inset: -120px 112px 0 0;
  box-shadow: 110px 120px 0 #668884;    
}
[rect4] {
  width: 196px;
  height: 40px;
  background: #668884;
  position: absolute;
  margin: auto;
  inset: -40px 34px 0 0;
  box-shadow: 34px 40px 0 #668884;    
}