body {
  background: #E6E9E3
}
[circ] {
  width: 85px;
  height: 85px;
  background: #E6E9E3;
  position: absolute;
  margin: auto;
  inset: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #33572B,
              0 0 0 65px #61A74E,
              0 0 0 75px #33572B;
}
[tri] {
  width: 30px; height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #E6E9E3;
  position: absolute;
  margin: auto;
  top: 160px; left: 0; bottom: 0; right: 0;
}
[rect1] {
  width: 10px; height: 70;
  position: absolute;
  margin: auto;
  top: 140px; left: -70; bottom: 0; right: 0;
  background: #33572B;
  transform: rotate(30deg)
}
[rect2] {
  width: 10px; height: 70;
  position: absolute;
  margin: auto;
  top: 140px; left: 70; bottom: 0; right: 0;
  background: #33572B;
  transform: rotate(-30deg)
}