body {
    background: #F48B26;
  }
  .lr1 {
    width: 200px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: -180; left: -130; bottom: 0; right: 0;
  }
  .rr1 {
    width: 120px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: -180; left: 210; bottom: 0; right: 0;
  }
  .lr2 {
    width: 200px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: -60; left: -110; bottom: 0; right: 0;
  }
  .rr2 {
    width: 100px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: -60; left: 210; bottom: 0; right: 0;
  }
  .lr3 {
    width: 200px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: 60; left: -90; bottom: 0; right: 0;
  }
  .rr3 {
    width: 80px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: 60; left: 210; bottom: 0; right: 0;
  }
  .lr4 {
    width: 200px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: 180; left: -70; bottom: 0; right: 0;
  }
  .rr4 {
    width: 60px;
    height: 50px;
    background: #FEFF58;
    position: absolute;
    margin: auto;
    top: 180; left: 210; bottom: 0; right: 0;
  }