[bot] {
  width: 300px;
  height: 40px;
  background: #995757;
  position: absolute;
  margin: auto;
  inset: 180px 0 0 0;
  border-radius: 50%;
}
[mid] {
  width: 300px;
  height: 175px;
  background: #995757;
  position: absolute;
  margin: auto;
  inset: 0px 0 0 0;
}
[top] {
  width: 300px;
  height: 40px;
  background: #FFFFFF;
  position: absolute;
  margin: auto;
  inset: -180px 0 0 0;
  border-radius: 50%;
}
[in] {
  width: 140px;
  height: 20px;
  background:#6C3232;
  position: absolute;
  margin: auto;
  inset: -180px 0 0 0;
  border-radius: 50%;
}
body {
  background: #E3CC9E
}