  body {
    background: #EADCDC
  }
  .head {
    background: #EADCDC;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    inset: 0
  }
  .ear1 {
    width: 60px;
    height: 60px;
    background: #151109;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -140; left: -155; bottom: 0; right: 0
  }
  .ear2 {
    width: 60px;
    height: 60px;
    background: #151109;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -140; left: 155; bottom: 0; right: 0
  }
  .eye1 {
    width: 55px;
    height: 65px;
    background: #151109;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -20; left: -80; bottom: 0; right: 0;
    transform: rotate(45deg);
  }
  .eye2 {
    width: 55px;
    height: 65px;
    background: #151109;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -20; left: 80; bottom: 0; right: 0;
    transform: rotate(-45deg);
  }
  .p1 {
    width: 15px;
    height: 15px;
    background: #EADCDC;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0; left: -60; bottom: 0; right: 0;
    transform: rotate(45deg);
  }
  .p2 {
    width: 15px;
    height: 15px;
    background: #EADCDC;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0; left: 110; bottom: 0; right: 0;
    transform: rotate(45deg);
  }
  .mouth {
    width: 40px;
    height: 17px;
    background: #151109;
    position: absolute;
    margin: auto;
    top: 85; left: 0; bottom: 0; right: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }