[black-circle] {
  width: 30px;
  aspect-ratio: 1;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  inset: -170px 0 0 0;
}
[black-box] {
  width: 25px;
  aspect-ratio: 1;
  background: #000000;
  position: absolute;
  margin: auto;
  inset: 6px 55px 0 0;
  box-shadow: 55px 100px 0;
}
[yellow] {
  width: 30px;
  height: 55px;
  background: #EAC049;
  border-radius: 50px 50px 20px 20px;
  position: absolute;
  margin: auto;
  inset: -145px 0 0 0;
}
[pink] {
  width: 30px;
  height: 200px;
  background: #F1DDF5;
  position: absolute;
  margin: auto;
  inset: 50px 0 0 0;
  box-shadow: -25px 70px 0 #F1DDF5
}
[blue] {
  width: 80px;
  height: 240px;
  background: #65A3C5;
  border-radius: 50px 50px 0 0;
  position: absolute;
  margin: auto;
  inset: -10px 0 0 0;
}
body {
  background: #F1DDF5;
}