body {
  background: #8AB8B6;
}
[right] {
  width: 60px;
  aspect-ratio: 1/1;
  background: #D96C7B;
  position: absolute;
  margin: auto;
  top: 0; left: 60; bottom: 0; right: 0;
  border-radius: 50%;
  box-shadow: -120px 0 0 #D96C7B,
              120px 0 0 #D96C7B;
}
[left] {
  width: 60px;
  aspect-ratio: 1/1;
  background: #F3EAD2;
  position: absolute;
  margin: auto;
  top: 0; left: -60; bottom: 0; right: 0;
  border-radius: 50% 0 0 50%;
  box-shadow: -120px 0 0 #F3EAD2,
              120px 0 0 #F3EAD2;
}