  body {
    background: #394257;
  }
  [prot] {
    width: 260px;
    height: 130px;
    background: #394257;
    position: absolute;
    margin: auto;
    inset: 30px 0 0 0;
    border-radius: 150px 150px 0 0;
    box-shadow: 0 0 0 40px #EED9D9;
  }
  [rect] {
    width: 100px;
    height: 160px;
    background: #394257;
    position: absolute;
    margin: auto;
    inset: 0;
    box-shadow: 0 0 0 40px #EED9D9;
  }
  [hor] {
    width: 400px;
    height: 40px;
    background: #EED9D9;
    position: absolute;
    margin: auto;
    inset: 200px 0 0 0;
  }