[rect] {
  width: 100px;
  height: 120px;
  background: #222222;
  position: absolute;
  margin: auto;
  inset: 30px 0 0 0;
}
[circ] {
  width: 80px;
  height: 80px;
  background: #222222;
  position: absolute;
  margin: auto;
  inset: 0px 0 0 0;
  border-radius: 50%;
  box-shadow: 0 0 0 30px #FADE8B;
}
[rect2] {
  width: 250px;
  height: 30px;
  background: #222222;
  position: absolute;
  margin: auto;
  inset: 170px 0 0 0;
}
body {
  background-color: #FADE8B;
}