[vertical] {
  width: 180px;
  height: 300px;
  background: #51A499;
  position: absolute;
  margin: auto;
  inset: 0;
  box-shadow: 0 0 0 200px #EAC049;
}
[horizontal] {
  width: 180px;
  height: 25px;
  background: #EAC049;
  position: absolute;
  margin: auto;
  inset: -175px 0 0 0;
  box-shadow: 0 50px 0 #EAC049,
              0 125px 0 #EAC049,
              0 175px 0 #EAC049;
}