body {
  background: #8F77DA;
}
[left] {
  width: 70px;
  height: 370px;
  background: #A1E6E4;
  position: absolute;
  margin: auto;
  inset: -150px 20px 0 0;
  transform: rotate(-35deg);
}
[right] {
  width: 70px;
  height: 370px;
  background: #A1E6E4;
  position: absolute;
  margin: auto;
  inset: -150px -20px 0 0;
  transform: rotate(35deg);
}