  body {
    background: #024817;
    margin: 0;
  }
  
  .bigRect {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 180px;
    background: #FFFFFF;
  }

  .smallRect1 {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 60px;
    right: 30px;
    width: 30px;
    height: 60px;
    background: #024817;
  }

  .smallRect2 {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 90px;
    bottom: 60px;
    right: 0px;
    width: 30px;
    height: 60px;
    background: #024817;
  }

  .smallRect3 {
    position: absolute;
    margin: auto;
    top: 90px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 30px;
    height: 120px;
    background: #024817;
    transform: rotate(90deg);
  }
  