[rect] {
  width: 240px;
  height: 180px;
  background: #F9D9BF;
  position: absolute;
  margin: auto;
  inset: 0;
}
[side] {
  width: 60px;
  height: 90px;
  background: #D4A29F;
  position: absolute;
  margin: auto;
  inset: -90px 180px 0 0;
  box-shadow: 180px 90px 0 #D4A29F;
}
body {
  background: #FEFAED;
}