[small] {
  width: 30px;
  height: 30px;
  background: #FADE8B;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  inset: 0;
  box-shadow: -120px 0 0 #FADE8B,
               120px 0 0 #FADE8B;
}
[big] {
  width: 120px;
  height: 120px;
  background: #61A74E;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  inset: 0;
  box-shadow: -120px 0 0 #61A74E,
               120px 0 0 #61A74E;
}
[rect-overlay] {
  height: 300px; width: 80px;
  background: #FADE8B;
  position: absolute;
  margin: auto;
  left: 0; top: 0;
}
[rect] {
  width: 120px;
  height: 30px;
  background: #61A74E;
  position: absolute;
  margin: auto;
  inset: -150px 240px 0 0;
}
body {
  background: #FADE8B;
}