div {
  width: 50px;
  height: 50px;
  background: #FAE29E;
  position: absolute;
  margin: auto;
  top: -250; left: 50; bottom: 0; right: 0;
  box-shadow: -50px 50px 0 #FAE29E,
                0px 100px 0 #FAE29E,
              -50px 150px 0 #FAE29E,
                0px 200px 0 #FAE29E,
              -50px 250px 0 #FAE29E,
                0 0 0 300px #4A9A86;
}

