body {
  background: #D95362;
}
[rect] {
  width: 80px;
  height: 220px;
  background: #FDFFE9;
  position: absolute;
  margin: auto;
  inset: 0 70px 0 0;
}
[circle] {
  width: 52px;
  aspect-ratio: 1;
  background: #FDFFE9;
  position: absolute;
  margin: auto;
  inset: 0 -100px 0 0;
  border-radius: 50%;
  box-shadow: 0 -85px 0 #FDFFE9,
              0 85px 0 #FDFFE9;
}