  body {
    background: #f28bbb;
    margin: 0px;
  }
  .square {
    width: 150px;
    height: 150px;
    background: #8B0051;
    position: absolute;
    margin: auto;
    top: 50px; left: 0px; bottom: 0px; right: 0px;
  }
  .circle-top {
    width: 80px;
    height: 100px;
    background: #8B0051;
    position: absolute;
    margin: auto;
    top: -100px; left: 0px; bottom: 0px; right: 0px;
    border-radius: 50px;
  }
  .circle-left {
    width: 100px;
    height: 80px;
    background: #8B0051;
    position: absolute;
    margin: auto;
    top: 50px; left: 150px; bottom: 0px; right: 0px;
    border-radius: 50px;
  }
  .circle-right {
    width: 100px;
    height: 80px;
    background: #8B0051;
    position: absolute;
    margin: auto;
    top: 50px; left: -150px; bottom: 0px; right: 0px;
    border-radius: 50px;
  }
  .circle-bottom {
    width: 80px;
    height: 100px;
    background: #F28BBB;
    position: absolute;
    margin: auto;
    top: 200px; left: 0px; bottom: 0px; right: 0px;
    border-radius: 50px;
  }

