body {
  background: #46BA67
}
[circle] {
  width: 40px;
  aspect-ratio: 1;
  background: #4C4C6B;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  inset: 0px 0 0 0;
  box-shadow: 100px 0 0 #FAE29E,
              -100px 0 0 #FAE29E;
}
[rectangle] {
  width: 40px;
  height: 150px;
  background: #FAE29E;
  position: absolute;
  margin: auto;
  inset: -190px 0 0 0;
  box-shadow: 100px 190px 0 #4C4C6B,
              -100px 190px 0 #4C4C6B;
}