body {
  background: #F0F0F0;
}
div {
  width: 100px;
  height: 20px;
  background: #dd6b4d;
  position: absolute;
  margin: auto;
  top: -180; left: 0; bottom: 0; right: 0;
  box-shadow: 0 40px 0 #E05947,
              0 80px 0 #E05947;
}
div::after {
  content: '';
  width: 20px;
  height: 100px;
  background: #EAC049;
  position: absolute;
  margin: auto;
  top: 150; left: 0; bottom: 0; right: 0;
  box-shadow: 40px 0px 0 #EAC049,
              -40px 0px 0 #EAC049;
}