body {
  background: #EA9A52;
}
[c] {
  width: 58px;
  height: 58px;
  background: #A82973;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  inset: -140px 0 0 0;
}
[r] {
  width: 58px;
  height: 120px;
  background: #A82973;
  margin: auto;
  position: absolute;
  inset: 70px 0 0 0;
}