  body {
    background: #81008F;
  }
  .rect {
    width: 150px;
    height: 300px;
    background: #DBBEDF;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .circle-top {
    width: 90px;
    height: 90px;
    background: #81008F;
    position: absolute;
    margin: auto;
    top: -150; left: 0; bottom: 0; right: 0;
    border-radius: 50%;
  }
  .circle-bot {
    width: 90px;
    height: 90px;
    background: #81008F;
    position: absolute;
    margin: auto;
    top: 150; left: 0; bottom: 0; right: 0;
    border-radius: 50%;
  }
  .rect-joint {
    width: 30px;
    height: 90px;
    background: #81008F;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
