body {
  background: #9076D8;
}
[rect] {
  width: 80px;
  height: 250px;
  background: #F5E3B5;
  position: absolute;
  margin: auto;
  inset: 70px 0 0 0;
}
[tri1] {
  width: 0px; height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #9076D8;
  position: absolute;
  margin: auto;
  inset: -140px 0 0 0;
}
[tri2] {
  width: 0px; height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #9076D8;
  position: absolute;
  margin: auto;
  inset: -60px 0 0 0;
}
[tri3] {
  width: 0px; height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #9076D8;
  position: absolute;
  margin: auto;
  inset: 180px 0 0 0;
}
[tri4] {
  width: 0px; height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #9076D8;
  position: absolute;
  margin: auto;
  inset: 260px 0 0 0;
}