[box] {
  width: 160px;
  height: 160px;
  background: #FFFFFF;
  position: absolute;
  margin: auto;
  inset: 0;
}
[circle] {
  width: 40px;
  height: 40px;
  background: #9A5DCB;
  position: absolute;
  margin: auto;
  inset: -160px 160px 0 0;
  border-radius: 50%;
  box-shadow: 160px 160px #9A5DCB;
}
[rect] {
  width: 80px;
  height: 40px;
  background: #9A5DCB;
  position: absolute;
  margin: auto;
  inset: -160px -80px 0 0;
  box-shadow: -80px 160px #9A5DCB;
}
body {
  background: #68D0DF;
}