body {
    background: #4F77FF;
  }
  .c1 {
    width: 280px;
    height: 280px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 50%;
  }
  .s1 {
    width: 200px;
    height: 200px;
    background: #4F77FF;
    position: absolute;
    margin: auto;
    inset: 0;
  }
  .c2 {
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 50%;
  }
  .s2 {
    width: 40px;
    height: 40px;
    background: #4F77FF;
    position: absolute;
    margin: auto;
    inset: 0;
  }