  div {
    width: 0px;
    height: 0px;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    border-bottom: 130px solid #2F5A76;
    position: absolute;
    margin: auto;
    top: -80; left: 0; bottom: 0; right: 0;
    box-shadow: 0 0 0 100vw #49C85B;
    background: #49C85B;
  }
  div::after {
    content: '';
    width: 0px;
    height: 0px;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    border-top: 130px solid #2F5A76;
    position: absolute;
    margin: auto;
    top: 140; left: -80; bottom: 0; right: 0;
  }