[circle] {
  width: 40px;
  height: 40px;
  background: #E35158;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  inset: -130px 0 0 0;
  box-shadow: 0 0 0 35px #D9D9D9,
              0 0 0 220px #E35158;
}
[rect1] {
  width: 40px;
  height: 145px;
  background: #D9D9D9;
  position: absolute;
  margin: auto;
  inset: 80px 0 0 0;
} 
[rect2] {
  width: 40px;
  height: 30px;
  background: #D9D9D9;
  position: absolute;
  margin: auto;
  inset: 160px -60px 0 0;
}
[rect3] {
  width: 40px;
  height: 14px;
  background: #D9D9D9;
  position: absolute;
  margin: auto;
  inset: 98px -28px 0 0;
}